page-formlost {
    .scroll-content{
        // display:flex; 
        // justify-content:center;
        // flex-direction: column ;
    }
    
    .btn-submit{
        //float: right;
        width: 8em;
    }
    .btn-Cancel{
        //float: right;
        width: 8em;
    }
    ion-label{
        color:#000;
    }
    @media all and (min-width: 600px) {
        ion-label{
            color:#000;
        }
    }
}
